script(id="home_view", class="handlebars", type="text/x-handlebars-template")
  h2 Welcome!

script(id="logged_out_nav", class="handlebars", type="text/x-handlebars-template")
  li
    a(href="#!/login/") Login

script(id="logged_in_nav", class="handlebars", type="text/x-handlebars-template")
  li
    a(href="#!/logout/") Logout
